<div class="container alignment">
    <div class="text-center">
    </div>
    <div class="row text-center">
        <div class="col-3 ">
            <i class='fas fa-church text-primary icon ' style='font-size:48px'></i>
            <h6 class="bottom-line">Lorem ipsum dolor sit amet</h6>
            <p class="subline">Suspendisse vel leo efficitur,
                venenatis est ut, tincidunt nibh.</p>
        </div>

        <div class="col-3">
            <i class='far fa-snowflake text-primary icon' style='font-size:48px;'></i>
            <h6 class="bottom-line">Lorem ipsum dolor sit amet</h6>
            <p class="subline">Suspendisse vel leo efficitur,
                venenatis est ut, tincidunt nibh.</p>
        </div>

        <div class="col-3">
            <i class='fas fa-apple-alt text-primary icon' style='font-size:48px;'></i>
            <h6 class="bottom-line">Lorem ipsum dolor sit amet</h6>
            <p class="subline">Suspendisse vel leo efficitur,
                venenatis est ut, tincidunt nibh.</p>
        </div>

        <div class="col-3">
            <i class='fas fa-bell text-primary icon' style='font-size:48px;'></i>
            <h6 class="bottom-line">Lorem ipsum dolor sit amet</h6>
            <p class="subline">Suspendisse vel leo efficitur,
                venenatis est ut, tincidunt nibh.</p>
        </div>

    </div>
    <div class="button-index">
        <button type="button" class="btn btn-light centered">CHECK OUR OFFER</button>
    </div>

</div>