<div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="assets/appone.png" alt="" width="500" height="500" class="img-fluid image">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 class="bottom-line">Lorem ipsum dolor</h5>
        <p class="subline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
            venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
    </div>
</div>
<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 class="bottom-line"> Lorem ipsum dolor</h5>
        <p class="subline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
            venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="assets/apptwo.png" alt="" width="500" height="500" class="img-fluid">
    </div>
</div>