
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="header">
            <div class="text-center">
                <p class="head">CRIOS </p>
            </div>
            <i class="fa fa-bars float-left pl-5 "></i>
            <i class="fa fa-search float-right pr-5" ></i>
            <p class="heading">Simple PSD template with cool stuff</p>
            <p class="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button type="button" class="btn btn-light centered">Explore Template</button>
            <img src="assets/Photobg.png" alt="" class="img-fluid">
            <p class="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
        </div>
    </div>
</div>
