<div class="row" style="background-color: #f7f8fc;">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="assets/john1.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 top-right">
        <h5 class="bottom-line">Template is awesome</h5>
        <p class="subline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
            venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
        <div>
            <p class="sublineone">John Doe</p>
            <p class="sublinetwo">CEO at crios.com</p>
        </div>
    </div>
</div>